* {
    box-sizing: border-box;
  }
  img {
    border-radius: 50%;
  }
  h1.bandName,
  h1.display{
      font-size: 2em;
  }
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
